<launch>
	<arg name="model" default='$(find anro3)/urdf/dynamic_robot.urdf'/>
	<arg name="gui" default="True" />
	<param name="robot_description"  textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>

	<param name="arm1" type="double" value="0.9" />
	<param name="arm2" type="double" value="0.6" />
	<param name="d1" type="double" value="0.5" />
	<param name="joint2_lower" type="double" value="-2.9" />
	<param name="joint2_upper" type="double" value="2.9" />
	<param name="joint3_lower" type="double" value="-0.15" />
	<param name="joint3_upper" type="double" value="0.05" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="KDL" pkg="anro3" type="KDL" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find anro3)/rviz/my_robot.rviz" required="true" />
</launch>
